---
import { getEntry } from 'astro:content';

const text = await getEntry('underConstruction', 'underConstruction');
---

<div class="text-center mt-5 p-5 d-flex flex-column align-items-center">
    <img src="/images/under-construction.png" alt="Strona w budowie" class="img-fluid" style="max-width: 400px;" />
    <h2>{text && <div set:html={text.data.content} />}</h2>
</div>